autopep8==2.0.1
certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==3.0.1
faiss-cpu==1.7.3
faiss-gpu==1.7.2
filelock==3.9.0
huggingface-hub==0.11.1
idna==3.4
numpy==1.24.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==23.0
Pillow==9.4.0
pycodestyle==2.10.0
PyYAML==6.0
requests==2.28.2
timm==0.6.12
tomli==2.0.1
torch==1.13.1
torchsummary==1.5.1
torchvision==0.14.1
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.14
